<form action="/zombie/birth" method="post">
  <label for="name">Which city did you visit? Just curious...</label>
  <input type="text" name="city" id="name"><br>
  <button type="submit">Zombie Initilization Button</button>
</form>
