<form action="/zombie/birth" method="post">
  <label for="name">Name your ZombieGotchi!</label>
  <input type="text" name="name" id="name"><br>
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other<br>
  <label for="formerOccupation">What was your ZombieGotchi's former occupation?  You know... before the event..... in the before times....</label>
  <input type="text" name="formerOccupation" id="formerOccupation"><br>
  <button type="submit">Zombie Initilization Button</button>
</form>
